:root {
		background-color: #7D7D7D;
		color: #fdfdfd;
		font-weight: bold;
		font-size: 17;
}

.row {
		bottom:20px;
}

label {
		height:30px;
		width:100px;
		child-space: 1s;
}


.quarter {
		background-color: #1F1F1F;
		border-radius: 4px;
		border-color: black;
		border-width: 3px;
		top:10px;
		left:10px;
		width:20px;
		height:100px;
		column-gap:20px;

}

.top .quarter {
		height:100px;
}

.envelope {
	bottom:20px;

}
#oscillators {
	top:166px;
}

.section-title {
		font-size:20px;
		top:0px;
		left:0px;
		bottom:5px;
		width:150px;

}

knob {
	height:40px;
	width:40px;
	left:1s;
	right:1s;
}

knob .track {
  background-color: #47B8C2;
}

.envelope-graph {
	height:50px;
	width:100px;
	right:10px;
	border-radius: 4px;
	border-color: #47B8C2;
	border-width: 3px;
	color: #47B8C2;

}
