:root {
		background-color: #7D7D7D;
		color: #fdfdfd;
		font-weight: bold;
		font-size: 17;
}

.row {
		bottom:20px;
}

label {
		height:30px;
		width:60px;
		child-space: 1s;
}


.section {
		background-color: #1F1F1F;
		border-radius: 4px;
		border-color: black;
		border-width: 3px;
		left:5px;
		right:5px;
		top:5px;
		bottom:5px;

}

.envelope {
	bottom:20px;

}

.section-title {
		font-size:20px;
		top:0px;
		left:0px;
		bottom:5px;
		width:150px;

}

knob {
	height:40px;
	width:40px;
}

knob .track {
  background-color: #47B8C2;
}

.graph {
	color: #47B8C2;

}

.graph-wrapper {
		height: 100px;
		width: 100px;
		border-radius:6px;
		background-color: #080808;
		left:5px;
		right:5px;
		overflow:hidden;

}

.dropdown .dd-label {
	color:black;
	width:600px;
	cursor: Hand;
}

.dropdown .dd-content {
	color:white;
}

.dropdown .dd-content label {
	background-color:#7D7D7D;
	width:100%;
  transition:background-color 0.2 0.0;
	border-color:black;
	border-width:1px;;
}

.dropdown .dd-content label.selected {
	background-color: #ADADAD;
}

.dropdown .dd-content label:hover {
	background-color: #5D5D5D;
}

#preset-browser {
	height:60px;
}

#preset-name-box {
	width:250px;
	left:20px;

}

#preset-browser .row {
	top:20px;
}
